@import '../../../scss/variables';

.logoContainer {
    height: $header-height;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    font-family: $main-font;
    font-size: 18pt;
}

.img {
    margin: $logo-margin $logo-margin $logo-margin ($logo-margin + 10px);
    height: $logo-height;
}