@import "../../../../../../scss/variables";

.form {
    width: 100%;
    /*border: 1px solid $accent-color;
    border-left: none;
    border-right: none;*/
    padding: 10px;
}

.newComplexButton{
    margin-left: 8px;
    padding: 2px 6px !important;
}