@import '../../../../scss/variables';

.authForm {
    width: 90%;
    height: auto;
    min-height: 220px;
    margin: 0;

    & > div {
        min-width: 100%;
        margin: 0;
    }
}

.errorIcon {
    width: 12px;
    height: 12px;
    margin: 0 0 0 8px;
    color: $bright-red-color;
}

.signInButton {
    width: 100%;
    margin-top: 12px;
}

@media screen and (min-width: 600px) and (max-width: 800px) {
    .authForm {
        width: 100%;
        min-height: 182px;

        & > div {
            min-width: 100%;
        }
    }
}
