.draggerContainer {
  margin-bottom: 10px;
}

.orNewBuildingContainer {
  width: auto;
  height: 100%;
  margin-top: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.formItem {
  width: 279px;
}