@import "scss/colors";

.app-wrapper {
  width: 100%;
  height: 100%;
  text-align: center;
}

.ant-btn-primary {
  background-color: $accent-color !important;
  border-color: $dark-accent-color !important;

&:hover {
   background-color: $dark-accent-color !important;
 }
}

.ant-menu-submenu-selected {
  background-color: $bcg-color !important;
  color: $main-text-color !important;

& * {
    color: $main-text-color !important;
  }

&:hover {
   color: $dark-accent-color !important;
 }
}

.ant-menu-item {
  background-color: $light-primary-color !important;
  color: $main-text-color !important;

&::after {
   border-color: $second-color !important;
 }
}

.ant-menu-submenu-arrow {
  border-color: $second-color !important;
}

a {
  color: $accent-color !important;

&:hover {
   color: $dark-accent-color !important;
 }
}

.ant-card {

}

.ant-form-item {
  margin-bottom: 0 !important;
}

.ant-btn-link {
  padding: 0 2px !important;
  height: 22px !important;
  color: $accent-color !important;

& span {
    font-weight: bold !important;
  }

&:hover {
   color: $dark-accent-color !important;
   border-bottom: 1px solid $accent-color !important;
 }
}

/*.app-wrapper-content {
    width: 100%;
    height: calc(100% - 56px);
    min-height: 480px;
}*/
