
// background
$bcg-color: #F3B07F;
$form-bcg-color: #F39651;
$light-primary-color: #ffe5d3;

// main
$main-color: #974508;

// second
$second-color: #E01625;

// accent
$accent-color: #226C64;
$dark-accent-color: #055E55;


$warning-icon-color: #E01625;
$shadow-color: rgba(0, 0, 0, 0.15);

// font
$main-text-color: #3b2a20;
