@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

// *** colors ***

$beige-color: #F3B07F; // background
$light-orange-color: #F39651; // background
$light-beige-color: #ffe5d3; //primary
$dark-orange-color: #974508; // main
$red-color: #E01625; // second
$turquoise-color: #226C64; // accent
$dark-turquoise-color: #055E55; // accent
$bright-red-color: #E01625; // warning
$transparent-black-color: rgba(0, 0, 0, 0.15);
$brown-color: #3b2a20; // font

// *** fonts ***

$main-font: 'Raleway', 'Roboto', 'Ubuntu', sans-serif; // main

// *** other vars ***

$header-height: 56px;
